@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin : 20px;
    font-family: "Poppins";
    background: #f7f9da;
}

ul , li {
    padding: 0;
    list-style-type: none;
}

h1,h2,h3{
    color: #05668d;
}

p{
    color: #028090;
}

header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
}

article img , article.featured img{
    width: 100%;
    border: 2px solid #02c39a;
    border-radius: 10px;
}

article.featured{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1100px;
    align-items: center;
    border-bottom: 2px solid #028090;
    padding-bottom: 40px;
}

/* article p , article h3{
    margin: 20px 30px;
} */


/* Footer css */
footer{
    border-top: 5px solid #028090;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
}

footer li{
    color: #05668d;
}


/* Responsive */

@media screen and (max-width: 980px){
    article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap : 50px;
        
    }
}

@media screen and (max-width:760px){
    article , article.featured{
        display: block;
        margin: 0 20px;
    }
}